@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap");

:root {
  --background-color: #323437;
  --accent-color: #d1d0c5;
  --correct-color: green;
  --wrong-color: red;

  --words-gap: 1rem;
  --words-size: 1.5rem;

  --border-radius: 8px;
  --gap: 5px;

  --input-width: 500px;
  --transition: all 0.25s;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--background-color);
  margin: 0;
}

h1 {
  color: var(--accent-color);
  transition: var(--transition);
}

.screen {
  margin: auto;
  text-align: center;
  transition: var(--transition);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: var(--transition);
}

button,
.button {
  font-family: "Roboto", sans-serif;
  background: var(--accent-color);
  border: none;
  box-shadow: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: large;

  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: var(--gap);
  padding: calc(var(--gap) * 2);
  margin: calc(var(--gap) * 4) auto;
}

.button__child {
  display: flex;
}

#words {
  font-family: "Roboto Mono", monospace;
  align-content: flex-start;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: fit-content;
  height: -moz-fit-content;
  width: 100%;
  gap: var(--words-gap);
  margin: calc(var(--gap) * 4) auto;

  font-size: var(--words-size);
  transition: 0.25s;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  transition: var(--transition);
}

input,
.input {
  font-family: "Roboto", sans-serif;
  background: var(--accent-color);
  border: none;
  box-shadow: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: large;

  padding: calc(var(--gap) * 2);
  margin: calc(var(--gap) * 4) auto;
  width: var(--input-width);
  text-transform: lowercase;
  transition: var(--transition);
}

.word {
  transition: var(--transition);
}

.word--correct {
  color: var(--correct-color);
}

.word--wrong {
  color: var(--wrong-color);
  text-decoration: line-through;
}
