#kata-select {
  box-sizing: initial;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  padding: 12px;
  color: white;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  border-bottom-left-radius: 5px;
}

#kata-select:hover {
  background: rgba(0, 0, 0, 1);
  text-decoration: underline;
}

#kata-select::after {
  content: "Kata select";
}

@media (max-width: 768px) {
  #kata-select {
    top: auto;
    left: 12px;
    bottom: 8px;
    right: auto;
    padding: 12px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  #kata-select::after {
    content: "◀";
  }
}
