@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

body {
  font-family: "Figtree", sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
}

#counter {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  font-size: xx-large;
  z-index: 1;
  text-align: right;
  padding: 15px;
  border-bottom-left-radius: 15px;
  opacity: 0;
  transition: 0.5s all;
}

.playgrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 25px;
  height: 90vh;
  width: 90vw;
}

.playcard {
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
}

.playcard__side {
  position: absolute;
  width: inherit;
  height: inherit;
  visibility: hidden;
  border-radius: 20px;
  box-shadow:
    5px 5px 10px #161616,
    -5px -5px 10px #303030;
}

.playcard__side--visible {
  visibility: visible;
}

.playcard__side-a {
  background: #232323;
}
