#healthbar {
  position: absolute;
  right: 25px;
  top: 25px;
  height: 30px;
  width: 500px;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.25);
}

#healthbar .hp--title {
  position: absolute;
  top: 4px;
  left: 3px;
  text-transform: uppercase;
  color: white;
}

#healthbar .hp--fill {
  height: inherit;
}

@media (max-width: 720px) {
  #healthbar {
    top: 0;
    left: 0;
    right: 0;
    width: 99.5%;
  }
}
