:root {
  --site-background-color: var(--dark-grey);
  --highlight-color: rgb(237, 158, 43);
  --foreground-light-color: white;
  --foreground-dark-color: black;

  --dark-grey: rgb(49, 49, 49);
  --light-grey: rgb(150, 150, 150);

  --buttons-border-radius: 45px;
  --button-size: 85px;
  --default-gap: 10px;
  --result-number-size: 110px;

  --calculator-width: 390px;
  --calculator-height: 844px;
  --calculator-border-radius: 25px;
  --calculator-background-color: var(--foreground-dark-color);

  --default-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

body {
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  color: var(--foreground-light-color);
  margin: 0;
  width: 100vw;
  height: 100vh;

  /* background: var(--site-background-color); */
  background: url("./assets/images/macos-ventura-wallpaper.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  position: absolute;
  margin: var(--default-gap);
  text-shadow: var(--default-shadow);
}

button {
  width: var(--button-size);
  height: var(--button-size);
  background: var(--dark-grey);
  color: var(--foreground-light-color);
  border: none;
  border-radius: var(--buttons-border-radius);
  font-size: xx-large;
  cursor: pointer;
  text-align: center;
  transition: 0.1s;
}

button:active {
  filter: brightness(1.5);
}

button.text-only {
  background: transparent;
  border-radius: unset;
  height: unset;
  width: unset;
  font-size: medium;
  font-weight: lighter;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: flex;
  align-self: center;
  justify-content: end;
  flex-direction: column;
  margin: auto;
  background: var(--calculator-background-color);
  border-radius: var(--calculator-border-radius);
  width: var(--calculator-width);
  height: var(--calculator-height);
  box-shadow: var(--default-shadow);
  overflow: hidden;
  transition: 0.5s all;
}

.history {
  display: flex;
  flex-direction: column;
}

.history__buttons {
  display: flex;
  flex-direction: row;
  gap: var(--default-gap);
  justify-content: space-between;
  margin: calc(var(--default-gap) * 1.5);
}

.history__icon {
  filter: invert(100%);
  width: 13px;
}

.history__list {
  display: flex;
  flex-direction: column;
  gap: calc(var(--default-gap) * 2);
  align-items: flex-end;
  list-style: none;
  padding: 0;
  margin: 0 0 var(--default-gap) 0;
  overflow: auto;
  max-height: 760px;
  width: 100%;
  max-width: var(--calculator-width);
}

.history__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--default-gap);
  padding: calc(var(--default-gap) / 2) 0;
  justify-content: end;
  font-weight: lighter;
  width: 100%;
  word-break: break-all;
  border: 1px solid transparent;
  transition: 0.5s;
}

.history__item:hover {
  color: var(--light-grey);
  border: 1px solid var(--light-grey);
}

.history__value {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: larger;
  padding-right: var(--default-gap);
  overflow: auto;
  text-align: right;
  justify-content: end;
}

.history__result {
  margin-left: calc(var(--default-gap) / 2);
  font-weight: bold;
  font-size: x-large;
}

.result {
  font-size: var(--result-number-size);
  text-align: right;
  margin: var(--default-gap);
  max-width: var(--calculator-width);
  overflow-x: auto;
  font-weight: lighter;
  transition: 0.5s;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: var(--default-gap);
  margin: var(--default-gap);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: inherit;
  gap: var(--default-gap);
}

.numbers .zero {
  grid-area: 5 / 1 / 6 / 3;
  width: calc((var(--button-size) * 2) + var(--default-gap));
}

.actions {
  display: flex;
  flex-direction: column;
  width: inherit;
  gap: var(--default-gap);
}

.actions button {
  font-size: xxx-large;
  background-color: var(--highlight-color);
}

button.top {
  background: var(--light-grey);
  color: var(--foreground-dark-color);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: scale-down;
  margin: auto;
  width: 38px;
  height: 38px;
}

.disabled,
.disabled:active {
  cursor: default !important;
  filter: grayscale(100%) !important;
  color: var(--dark-grey) !important;
}

.disabled img {
  filter: invert(40%);
}

.hidden {
  opacity: 0;
  transform-origin: top;
  transition: 0.5s;
}

.hidden > * {
  cursor: default !important;
  opacity: 0;
  pointer-events: none;
  transform-origin: top;
  transition: 0.5s;
}

@media (max-width: 720px) {
  h1 {
    display: none;
  }

  .calculator {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}
