:root {
  --primary-color: #241b2f;
  --secondary-color: #161521;

  --text-first-color: #72f1b9;
  --text-second-color: #f3d45b;
  --text-third-color: #f57ad3;

  --container-width: auto;
  --container-height: auto;

  --gap: 10px;
  --radius: 0.6em;
  --radius-sharp: 5px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--primary-color);
  color: var(--text-first-color);
}

button {
  --green: var(--text-first-color);
  cursor: pointer;
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: var(--radius);
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

button:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

button:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
}

button:hover:before {
  transform: translateX(15em);
}

h1,
h2 {
  color: var(--text-second-color);
  text-wrap: balance;
}

h3 {
  color: var(--text-third-color);
  text-wrap: balance;
  margin: 0;
}

p {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius);
  gap: calc(var(--gap) * 2);
  height: var(--container-height);
  width: var(--container-width);
  background-color: var(--secondary-color);
  padding: 25px;
}

.container__buttons {
  display: flex;
  gap: var(--gap);
}

.container__dropdowns {
  display: flex;
  gap: var(--gap);
}

.container__dropdown {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px 20px;
  border: none;
  border-radius: var(--radius);
  background-color: var(--primary-color);
  color: var(--text-third-color);
  cursor: pointer;
  font-size: large;
}

.container__wrapper--vertical {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: flex-end;
  justify-content: space-between;
}

.container__wrapper--horizontal {
  display: flex;
  flex-direction: row;
  gap: calc(var(--gap) * 2);
}

.rule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap);
  background-color: transparent;
  padding: var(--gap);
  border-radius: var(--radius);
  transition: all 0.4s ease;
}

body:has(#game-mode-1:hover) #rule-1 {
  background-color: var(--primary-color);
}

body:has(#game-mode-2:hover) #rule-2 {
  background-color: var(--primary-color);
}

#words-difficulty-selector-rules {
  margin-bottom: calc(var(--gap) * 2);
}

#game-screen-hangman-images {
  height: 300px;
  width: 225px;
  padding: var(--gap);
  position: relative;
  border-radius: var(--radius);
  border: 2px solid var(--text-first-color);
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.hangman-image {
  position: absolute;
  object-fit: cover;
  /* display: none; */
}

#game-screen-word {
  display: flex;
  justify-content: center;
  gap: calc(var(--gap) / 2);
}

.char,
#game-screen-input {
  padding: var(--gap);
  background: var(--primary-color);
  border-radius: var(--radius-sharp);
  font-size: large;
  border: none;
  border-bottom: var(--text-third-color) 1px solid;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 10px;
  color: var(--text-third-color);
  text-align: center;
}
