@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap");

:root {
  --main-grey: #242529;
  --transparent-black: rgba(0, 0, 0, 0.5);
  --gap: 8px;

  --border-radius: 8px;

  --song-height: 40px;
  --text-primary: #e9e6e5;
  --text-secondary: #89888d;
  --transition: all 0.25s ease;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--main-grey);
  margin: 0;
  padding: calc(var(--gap) * 2);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  height: 100dvh;
}

.brand {
  padding: var(--gap);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.brand__logo {
  width: 300px;
  filter: invert(1);
}

.brand__title {
  color: var(--text-primary);
  margin: 0;
  font-size: large;
  letter-spacing: 2.2px;
  text-transform: uppercase;
}

#app {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  padding: var(--gap);
  width: 60%;
  max-height: 705px;
  height: 75vh;
  border-radius: var(--border-radius);
  background: var(--transparent-black);
  overflow: hidden;
}

.library {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: var(--gap);
  width: 100%;
  overflow: auto;
}

.library__song {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
  padding: var(--gap);
  height: var(--song-height);
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.library__song--playing,
.library__song:hover {
  background: var(--main-grey);
}

.song--left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap);
}

.song__button {
  border-radius: var(--border-radius);
  border: none;
  background: transparent;
  width: var(--song-height);
  height: var(--song-height);
  cursor: pointer;
}

.song__image {
  border-radius: var(--border-radius);
  width: var(--song-height);
  height: var(--song-height);
}

.song__name {
  color: var(--text-primary);
}

.song__artists {
  display: flex;
  flex-direction: row;
  gap: calc(var(--gap) / 2);
}

.song__artist {
  color: var(--text-secondary);
}

.song__artist:first-child::before {
  content: "- ";
}

.song__artist:not(:last-child)::after {
  content: ",";
}

.song__preview {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
  background: var(--transparent-black);
  border-bottom-left-radius: var(--border-radius);
  padding: var(--gap);
  visibility: hidden;
}

.song__preview--visible {
  visibility: visible;
}

.preview__image {
  margin: var(--gap);
  border-radius: var(--border-radius);
  width: 300px;
  height: 300px;
}

.preview__song {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--gap) / 2);
}

.preview__song .song__artist:first-child::before {
  content: "";
}

.control__buttons {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
}

.control__button {
  border-radius: 50%;
  border: none;
  background: var(--main-grey);
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.volume-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
  background: var(--main-grey);
  padding: var(--gap);
  border-radius: var(--border-radius);
  overflow-y: auto;
  overflow-x: hidden;
}

.volume-slider__input {
  appearance: slider-vertical;
  width: 8px;
  height: 100%;
  padding: 0 5px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  :root {
    --song-height: 30px;
  }

  body {
    padding: 0;
    position: fixed;
  }

  .brand {
    display: none;
  }

  #app {
    height: 75%;
    width: 97vw;
    border-radius: 0;
    flex-direction: column;
  }

  .volume-slider {
    flex-direction: row;
  }

  .volume-slider__input {
    width: 100%;
    height: 8px;
    appearance: auto;
  }

  .library__song {
    max-width: 100%;
  }

  .song__name {
    font-size: x-small;
    max-width: 100px;
  }

  .song__artists {
    font-size: xx-small;
    max-width: 100px;
  }

  .song__preview {
    top: unset;
    bottom: 0;
    border-radius: 0;
    flex-direction: row;
    width: 100%;
    padding: 0;
  }

  .preview__image {
    width: 150px;
    height: 150px;
  }

  .control__buttons {
    position: absolute;
    bottom: var(--gap);
    right: var(--gap);
  }
}
